<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>PDHN</title>
</head>
<body>
    <h2>Head</h2>
    <ul>
        <li>@Html.ActionLink("Ir a Home", "Home", "Home")</li>
        <li>@Html.ActionLink("Ir a About", "About", "Home")</li>
    </ul>

